body { background-color:#eff5ef; font-family:"Arial"; }
header, .content, footer {
	width:80%;
	margin-left:10%;
	margin-right:10%;
	padding:5px;
}
header nav {
	width: 100%;
	display:block;
}
header nav ul {
	list-style-type:none;
}
header nav ul li a {
	width:32%;
	margin-left:1px;
	margin-right:1px;
	color:green;
	text-decoration:none;
	font-size:1.16em;
}

header nav ul li a:hover {
	width:32%;
	margin-left:1px;
	margin-right:1px;
	color:blue;
	text-decoration:underline;
	font-size:1.16em;
}

.content p {
	font-size:1.05em;
}

.content h2 {
	font-size:1.26em;
	font-weight:bold;
}

.content h3 {
	font-size:1.19em;
}
